name: Deploy audit.getalloro.com

on:
  push:
    branches:
      - main # This triggers the deploy whenever you push to main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            cd /var/www/audit.getalloro.com/public_html
            # Ensure the directory is a safe directory for git
            git config --global --add safe.directory /var/www/audit.getalloro.com/public_html
            git fetch origin main
            git reset --hard origin/main
